:root {
	--site-max-width: 1000px;
}

:root {
	--color_1: #cccccc;
	--color_2: #5a6a7a;
	--color_3: #aaaaaa;
	--text_color_1: black;
}

html{
	height: 100%;
}
body{
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;

	max-width: var(--site-max-width);

	background: content-box radial-gradient(var(--color_1), var(--color_2));
	padding: 0px;
	margin: 0px auto;

	font-size:14px;
	line-height: 1.6;
	font-family:"Trebuchet MS", verdana, arial, "Times New Roman", serif;
}




.float_left {
	float: left;
}
.float_center {
	float: left;
}
.float_right {
	float: right;
}
.float_clear {
	clear: both;
}


/*			Main Blocks			*/
.header {
	overflow: hidden;
	border-bottom: 1px dashed grey;
	background: var(--color_1);
}


.left_menu {
	background: var(--color_1);
	float: left;
	width: 130px;
}

.content {
	float: left;
	width: calc(100% - 130px);
	background: #ffffff;
	overflow: auto;
}


.footer {
	overflow: hidden;
	border-top: 1px dashed grey;
	background: var(--color_1);
}
