:root {
	--site-max-width: 1000px;
}

:root {
	--color_1: #cccccc;
	--color_2: #5a6a7a;
	--color_3: #aaaaaa;
	--text_color_1: black;
	--text_color_2: white;
}

html, body{
	height: 100%;
	background: content-box radial-gradient(var(--color_1), var(--color_2));
}
body{
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;

	padding: 0px;
	margin: 0px auto;

	color: #636b6f;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
}
a {
	color: #636b6f;
	padding: 0 15px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
}
a:hover{
	text-shadow: 2px 2px 3px #555;
}


.site_width {
	max-width: var(--site-max-width);
	margin: 0px auto;
}
.float_left {
	float: left;
}
.float_center {
	float: left;
}
.float_right {
	float: right;
}
.float_clear {
	clear: both;
}
.d-flex{
	height:100%;
	display: flex;
}
.a-center{
	align-items: center;
	justify-content: center;
}

/*			Main Blocks			*/
.margin_header_height{margin-top: 26px;}
.header {
	height: 25px;
	overflow: hidden;
	border-bottom: 1px solid black;
	background: var(--color_2);
	z-index: 10;
	color: var(--text_color_2);
	font-weight: bold;
	position: fixed;
	top: 0;
	width: 100%;
}
.login_logout > a{
	color: #fff;
}
.login_logout > a:hover{
	text-shadow: 2px 2px 3px black;
}

#middleHolder{
	/*position: fixed;
	top: 26;
	margin-left: calc((100% - var(--site-max-width)) / 2);*/
	height: calc((var(--vh, 1vh) * 100) - 52px);
	overflow: auto;
}
.left_menu {
	position: fixed;
	/*background: var(--color_3);*/
	float: left;
	width: 130px;
}
.left_menu > a{
	color: #fff;
}
.left_menu > a:hover{
	text-shadow: 2px 2px 3px black;
}

.content {
	position: fixed;
	float: left;
	/*width: calc(100% - 130px);*/
	width: var(--site-max-width);
	height: calc(100% - 52px);
	background: #ffffff;
	overflow: auto;
}


.footer {
	border-top: 1px solid black;
	background: var(--color_2);
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 25px;
}
